/* COLORS
#F6F6F6 - Almost-white: intro font color
#9B9B9B - Gray: info-section font color
#5B5B5B - Dark-gray: hover font color info section
#D3D3D3 - Light-gray: hover font color intro section
 */

 /* FONT SIZES
1.375rem - 22px
1.5rem - 24px
2.5rem - 40px
3.75rem - 60px
5rem - 80px

Inline Styles:
h1 for main intro page
First letter of about me paragraph
*/

/* FONTS
https://fonts.google.com/specimen/Barlow */
@font-face {
  font-family: "Barlow";
  src: url("fonts/Barlow-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Barlow";
  src: url("fonts/Barlow-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Barlow";
  src: url("fonts/Barlow-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

/* --------------------------GENERIC STYLES-------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
  color: #9B9B9B;
}

html {
  scroll-behavior: smooth;
}

.body-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 3.75rem; /* 60px */
  font-weight: 300;
  margin-bottom: 50px;
}

.h1-large {
  font-size: 5rem; /* 80px */
  font-weight: 400;
  margin: 0;
}

h2 {
  font-size: 2.5rem; /* 40px */
  margin-bottom: 25px;
  font-weight: 300;
}

h3 {
  font-size: 1.5rem; /* 24px */
}

p, li, li > a {
  font-size: 1.375rem; /* 22px */
}

/* Custom styles */
.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
/* ------------------------------------------------------------------------ */
