/* --------------------------INTRO SECTION STYLES-------------------------- */
.intro-container {
  padding: 100px 70px 150px 70px;
}

.intro-container {
  color: #F6F6F6;
  background: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/background-photo.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
/* ------------------------------------------------------------------------ */

/* --------------------------MAIN NAV STYLES-------------------------- */
.nav-container {
  padding-top: 50px;
}

.nav-container ul li {
  padding: 20px 0;
  /* for sub-nav */
  display: flex;
  flex-direction: row;
}

.nav-container ul li > a {
  width: 200px;
}

/* ------------------------------------------------------------------------ */

/* --------------------------BOTTOM BORDER EFFECT ON NAV-------------------------- */
/* this will work on sub-nav items as well */
.nav-container > ul > li > a::after {
  padding-bottom: 10px;
  display: block;
  content: "";
  border-bottom: 1px solid #F6F6F6;
  transform: scaleX(0);
  transform-origin: 0% 50%;
  transition: transform 150ms ease-in-out;
}

.nav-container ul li:hover > a::after {
  transform: scaleX(1);
}
/* ------------------------------------------------------------------------ */

/* --------------------------SUB NAV STYLES-------------------------- */
.nav-list li > ul {
  /* position relative to parent to remove from main flow */
  position: absolute;
  left: 275px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 500ms linear;
  transition-timing-function: ease-in;
}

.nav-list li ul li a {
  width: auto;
}

.nav-list li:hover > ul {
  visibility: visible;
  opacity: 1;
}

.nav-list li ul li a:hover {
  color: #D3D3D3;
}
/* ------------------------------------------------------------------------ */

/* --------------------------INFO SECTION STYLES-------------------------- */
.info-container {
  padding: 70px;
}

/* --------------------------ABOUT ME STYLES-------------------------- */
.about-me-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 70px;
  border-bottom: 2px solid #9B9B9B;
}

.about-me,
.testimonials {
  width: 50%;
}

/* center divider */
.about-me {
  border-right: 2px solid #9B9B9B;
}

.testimonials {
  padding-left: 70px;
}

.about-me h1,
.testimonials h1 {
  font-size: 3.75rem; /* 60px */
}

.about-me p {
  padding: 0 70px 50px 0;
}

.testimonials p {
  padding: 0 0 50px 0;
}

#show-me-more {
  display: block;
  width: auto;
  margin-top: 25px;
}

#show-me-more:hover {
  color: #5B5B5B;
}

/* --------------------------WORK SECTION STYLES-------------------------- */
.work-container {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
}

.work-container header {
  height: 100px;
  width: 300px;
}

.work-container header h1 {
  margin-top: 35px;
  padding-right: 35px;
  margin-right: 35px;
  border-right: 2px solid #9B9B9B;
}

.work-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.skills {
  margin-top: 50px;
}
/* ------------------------------------------------------------------------ */



/* --------------------------RESPONSIVE DESIGN-------------------------- */
@media only screen and (max-width: 850px) {

  .intro-container {
    background: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/background-photo-flipped.png");
  }

  /* --------------------------INFO SECTION STYLES-------------------------- */
  .about-me-container {
    flex-direction: column;
    padding: 70px;
  }

  .about-me,
  .testimonials {
    width: 100%;
  }

  .testimonials {
    padding: 70px 0 0 0;
  }

  /* center divider */
  .about-me {
    padding-bottom: 70px;
    border-right: none; /* remove right border from initial style */
    border-bottom: 2px solid #9B9B9B;
  }

  .about-me h1,
  .testimonials h1 {
    font-size: 3.75rem; /* 60px */
  }

  .about-me p,
  .testimonials p {
    padding: 50px 0 10px 0;
  }
  /* ------------------------------------------------------------------------ */
}
/* ------------------------------------------------------------------------ */
